:host {
  min-height: inherit;
}

.row .col-12:first-child {
  padding: 0 0.5rem 0 0.8rem;
}
.row .col-12:last-child {
  padding: 0 0.8rem 0 0.5rem;
}

@media screen and (min-width: 768px) {
  .row .col-12:first-child {
    padding: 0 0.8rem 0 3rem;
  }
  .row .col-12:last-child {
    padding: 0 3rem 0 0.8rem;
  }
}
