<section class="about-section text-white d-flex justify-content-center align-items-center flex-column">
  <div class="container">
    <app-star title="about component" />

    <div class="row px-2 px-sm-4 px-md-5 g-2">
      <div class="col-12 col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML,
          CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-12 col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML,
          CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>
</section>
