nav {
  background-color: var(--primary-color);
}

.link-active {
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

.nav-item {
  width: fit-content;
}
