<nav class="navbar navbar-expand-lg py-4">
  <div class="container text-uppercase">
    <h1 class="fs-2 fw-bold m-0"><a routerLink="/">Start Framework</a></h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="flex-row-reverse fw-bold collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/about" routerLinkActive="link-active">ABOUT</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/portfolio" routerLinkActive="link-active">PORTFOLIO</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" routerLink="/contact" routerLinkActive="link-active">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>