/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #2c3e50;
  --secondary-color: #1abc9c;
}

section {
  min-height: inherit;
  margin-top: 87.6px;
}

@media screen and (min-width: 1024px) {
  section {
    margin-top: 88px;
  }
}

.home-section,
.about-section {
  background-color: var(--secondary-color);
  padding: 0.5rem;
}

.home-section > div,
.about-section > div {
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  .about-section {
    padding: 3rem;
  }
  .home-section > div,
  .about-section > div {
    margin: 3rem;
  }
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

img {
  width: 100%;
}
